@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 dark:bg-darkBlue5 dark:text-gray-300 font-opensans;
}
.btn-header {
  @apply text-accentBlueDark mx-2 rtl:ml-2 ltr:mr-2 rounded-lg text-base p-2 ring-1 ring-gray-300 dark:ring-darkBlue1 dark:hover:ring-accentBlue hover:ring-gray-400 hover:bg-gray-200 dark:hover:bg-darkBlue3 focus:outline-none focus:ring-1 focus:ring-gray-200 dark:focus:ring-darkBlue2;
}
.nav-item {
  @apply text-lg text-gray-700 bg-gray-200 p-2 dark:text-gray-200 dark:bg-darkBlue2  dark:border-t-0 dark:border-t-accentBlue;
}
.nav-item-active {
  @apply bg-gray-50 text-accentBlueDark dark:bg-darkBlue1 dark:text-accentBlue;
}
.section-admin {
  @apply w-3/4 h-3/4 mx-auto p-8 bg-gray-50 dark:bg-darkBlue1 dark:text-gray-200;
}
.form-label {
  @apply block uppercase tracking-wide text-gray-700 dark:text-accentBlueLight text-sm font-bold mb-2;
}
.form-input {
  @apply appearance-none block w-full text-base bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-accentBlueLight;
}
.lang-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("./assets/images/select.svg") no-repeat right 0.75rem
    center/8px 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;
}
input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid hsl(198, 60%, 50%);
}
input:focus:invalid {
  border-bottom: 3px solid orangered;
}
.login-form {
  background-image: linear-gradient(
      105deg,
      rgba(255, 255, 255, 0.6) 0%,
      rgba(255, 255, 255, 0.6) 50%,
      transparent 50%
    ),
    url(./assets/images/login-bg.jpg);
  background-size: cover;
}
.input-error {
  border-bottom: 3px solid hsl(10, 60%, 50%);
}
.input-success {
  border-bottom: 3px solid hsl(115, 60%, 50%);
}
